*{
    padding: 0px;
    margin: 0px;
}

@import "variables";
@import "header";
@import "footer";


/* -------------------CONTENIDO-------------------- */

.contenido{
    background-color: $color_principal_claro   ;
    padding: 2rem;

    img{
        width: map-get($img_contenido , ancho );
        padding: map-get($img_contenido , separacion );
        display: inline-block;
    }

    p{
        @include parrafos;
    }
}

.contenido__flex{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.contenido__flex--servicios{
    @extend .contenido__flex;
    justify-content: space-between;
}

.contenido__nosotros{
    background-color: $color_principal_claro   ;
    padding: 2rem;

    p{
        font-size: 1.5rem;
        display: inline-block;
        text-align: justify;
    }
}

.contenido__carousel-ancho{
    width: 30%;
} 

@media(max-width: 768px){

    .contenido__carousel-ancho{
        width: 100%;
    }

}